body {
	margin: 0px;
	padding: 0px;
}

.head-image {
	display: inline-block;
	height: 750px;
	width: 1920px;
	position: relative;
	background-image: url("img/log.png");
	background-repeat: no-repeat;
	background-position: 370px 30px;
	z-index: 55;
	
}

.head-image img {
	display: block;
}